.vscode/*
Investment_Simulator/target/*
Investment_Simulator/src/main/resources/META-INF/*
Investment_Simulator/src/main/resources/application.properties
Predictor_Python/env/*
Predictor_Python/__pycache__/*